@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcecfa;
    font-family: "DM Sans", sans-serif;
    --lt-txt-color: #e7ecef;
    min-width: 300px;
}

.page-1 {
    background-image: url("../images/martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Page 1 Header */

.header {
    /* border: 1px solid red; */
    height: 10vh;

    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px) contrast(50%);
}

.main-title {
    /* border: 1px solid red; */
    
    margin-left: 2rem;
    padding: 5px;
    width: auto;
    font-size: 4vh;
    color: var(--lt-txt-color);
    
}

.main-button {
    margin-right: 2rem;
    color: var(--lt-txt-color);
    font-size: 2vh;
    padding: .5rem;
}

.main-button:hover {
    font-style: normal;
    outline: 2px solid var(--lt-txt-color);
    cursor: pointer;
    padding: .5rem;
}

/* .main-button {
    border: 1px solid red;

    margin-right: 2rem;
    padding: 2px;
    width: 100px;
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    letter-spacing: 2px;
    border-radius: 0 25px 25px 0;
    background: linear-gradient(0.25turn, #dcecfa, #cae3f7, #5faae7);
}

.main-button:hover {
    cursor: pointer;
    box-shadow: -4px -4px;
    transform: scale(104%) translate(4px, 10%);
} */

/* Page 1 Body */

.p1-body {
    position: relative;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.sign-up-modal {
    border: 1px solid red;

    position: absolute;
    top: -1000%;
    left: 0%;
    right: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 350px;
    padding: 25px;
    backdrop-filter: blur(10px) contrast(50%);
}

.modal:hover {
    cursor: pointer;
}

.show {
    top: 0%;
    bottom: 0%;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 1;
    box-shadow: 0 0 5em;
}

.exit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 50px;
}

.exit:hover {
    cursor: pointer;
}

.race-date {
    border: 1px solid red;
    grid-area: 3 / 1 / 4 / 3;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px) contrast(50%);
    color: var(--lt-txt-color);
    font-size: 4vh;
}

.learn-more {
    border: 1px solid red;
    grid-area: 3 / 4 / 4 / 4;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px) contrast(50%);
    color: var(--lt-txt-color);
}

.learn-more:hover {
    cursor: pointer;
}

.page-2 {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.footer {
    grid-area: 5 / 1 / 5 / 5;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 770px) {
        .header {
            height: 12vh;
        }
    
        .main-title {
            font-size: 3vh;
        }
    
        .main-button {
            font-size: 2.5vh;
        }
}