@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcecfa;
    font-family: "DM Sans", sans-serif;
    --lt-txt-color: #e7ecef;
}

.page-1 {
    background-image: url("../images/martins-zemlickis-NPFu4GfFZ7E-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}

/* Page 1 Header */

.header {
    /* border: 1px solid red; */
    height: 10vh;

    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
}

.main-title {
    /* border: 1px solid red; */
    
    margin-left: 2rem;
    padding: 5px;
    width: auto;
    font-size: 4vh;
    /* background-color: #1e3b5c; */
    color: var(--lt-txt-color)
    
}

.main-button {
    border: 1px solid red;

    margin-right: 2rem;
    padding: 2px;
    width: 100px;
    text-align: center;
    line-height: 2;
    text-transform: uppercase;
    font-weight: 500;
    font-size: large;
    letter-spacing: 2px;
    border-radius: 0 25px 25px 0;
    background: linear-gradient(0.25turn, #dcecfa, #cae3f7, #5faae7);
}

.main-button:hover {
    cursor: pointer;
    box-shadow: -4px -4px;
    transform: scale(104%) translate(4px, 10%);
}

/* Page 1 Body */

.p1-body {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.race-date {
    border: 1px solid red;
    grid-area: 4 / 1 / 4 / 3;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    color: var(--lt-txt-color);
    font-size: 4vh;
}

.learn-more {
    border: 1px solid red;
    grid-area: 4 / 4 / 4 / 4;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    color: var(--lt-txt-color);
}

.page-2 {
    height: 100vh;
}